[core]
	editor = \"C:\\Users\\Sergio Henrique\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[gui]
	recentrepo = C:/Users/Sergio Henrique
[user]
	email = sergiohclo73@gmail.com
	name = Sergio Henrique
